[submodule "third_party/dynamix"]
	path = third_party/dynamix
	url = https://github.com/iboB/dynamix.git
[submodule "third_party/tmxparser"]
	path = third_party/tmxparser
	url = https://github.com/iboB/tmxparser.git
[submodule "third_party/sol2"]
	path = third_party/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "third_party/lua/lua"]
	path = third_party/lua/lua
	url = https://github.com/lua/lua.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/yama"]
	path = third_party/yama
	url = https://github.com/iboB/yama.git
[submodule "third_party/ucm"]
	path = third_party/ucm
	url = https://github.com/onqtam/ucm.git
